*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: black;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    height: 100%;
    padding: 0.5rem;
    background-color: #42455C;
    z-index: 100;
    color: white;
}
nav.navbar .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 50%;
}
nav.navbar .user {
   font-size: 14px;
}
.btn {
  font-size: 12px;
  border: 0;
  color: #ffffff;
  padding: 7px;
  background: #B36E84;
  text-decoration: none;
}
.btn:hover {
  background: #DBE6C8;
  color: black;
  text-decoration: none;
}
nav.navbar .menu {
   font-size: 16px;
}
nav ul {
   list-style: none;
   padding-left: 0.75rem;
   position: relative;
   left: 0;
   cursor: pointer;
}
section {
   position: fixed;
   left: 17%;
   width: 83%;
   padding-left: 0.5rem;
   font-size: 14.5px;
}
section.top-bar {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #B36E84;
  margin: 0;
  padding-top: 0;
  height: 70px;
  padding-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
}
section.top-bar h1 {
  margin: 0;
  padding-top: 0.5rem;
  color: white;
}
section.top-bar h3 {
  margin: 0;
  padding-top: 0.5;
  font-weight: 300;
  color: white;
}
section.chat {
   position: absolute;
   /*top: 75px;
   bottom: 75px;*/
   margin-top: 75px;
   margin-bottom: 75px;
   padding-top: 0.5rem;
   padding-right: 0.5rem;
}
section.chat .chat-content{
   margin-top: 0.2rem;
   padding-bottom: 1rem;
   padding-top: 0;
   border-bottom-style: solid;
   border-bottom-color: gray;
   border-bottom-width: 1px;
}
section.chat .chat-author {
   font-weight: bold;
}
section.chat .chat-time {
   float: right;
   color: grey;
}
section.message-bar {
  position: fixed;
  bottom: 0;
  z-index: 90;
  background-color: #EBA7AB;
  margin: 0;
  height: 70px;
  padding: 1rem;
  border-top-style: solid;
  border-top-color: gray;
  border-top-width: 1px;
  text-align: right;
}
section.message-bar .newMessageForm {
   width: 85%;
   height: 2rem;
   font-size: 14px;
}
section.message-bar .btnsubmit {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
